#links {
	margin-top: 100px;
}

#links > a {
	height: 50px;
	width: 50px;
	line-height: 50px;
	display: inline-block;
	margin: 10px;
	border-radius: 50%;
	color: #fff;
	text-decoration: none;
	background-color: #999;
	font-size: 25px;
}

#links > a:hover {
	background-color: #444;
	color: #fff;
}
