#links {
	margin-top: 100px;
}

#links > a {
	height: 50px;
	width: 50px;
	line-height: 50px;
	display: inline-block;
	margin: 10px;
	border-radius: 50%;
	color: #666;
	text-decoration: none;
	background-color: #999;
}

#links > a:hover {
	background-color: #444;
	color: #fff;
}


#links .twitter {
	background-image: url('assets/twitter.svg');
}

#links .instagram {
	background-image: url('assets/instagram-white.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 10px;
}

#links .linkedin {
	background-image: url('assets/linkedin.png');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 12px;
}