#links {
	margin-top: 100px;
}

#links > a {
	height: 50px;
	width: 50px;
	line-height: 50px;
	display: inline-block;
	margin: 10px;
  	border: 1px #666 solid;
	border-radius: 50%;
	color: #666;
	text-decoration: none;
	background-color: #ccc;
}

#links > a:hover {
	background-color: #444;
	color: #fff;
}


#links .twitter {
	background-image: url('assets/twitter.svg');
}